
<%@ page import="test.Catalogo2" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'catalogo2.label', default: 'Catalogo2')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#list-catalogo2" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="list-catalogo2" class="content scaffold-list" role="main">
			<h1><g:message code="default.list.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<table>
				<thead>
					<tr>
					
						<g:sortableColumn property="nombre" title="${message(code: 'catalogo2.nombre.label', default: 'Nombre')}" />
					
						<th><g:message code="catalogo2.materia.label" default="Materia" /></th>
					
						<th><g:message code="catalogo2.alumno.label" default="Alumno" /></th>
					
					</tr>
				</thead>
				<tbody>
				<g:each in="${catalogo2InstanceList}" status="i" var="catalogo2Instance">
					<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
					
						<td><g:link action="show" id="${catalogo2Instance.id}">${fieldValue(bean: catalogo2Instance, field: "nombre")}</g:link></td>
					
						<td>${fieldValue(bean: catalogo2Instance, field: "materia")}</td>
					
						<td>${fieldValue(bean: catalogo2Instance, field: "alumno")}</td>
					
					</tr>
				</g:each>
				</tbody>
			</table>
			<div class="pagination">
				<g:paginate total="${catalogo2InstanceTotal}" />
			</div>
		</div>
	</body>
</html>
